<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>댓글 수정</title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <h1>수정</h1>
    <form action="/comments/<%= comment.id %>">
        <input type="text" id="comment" value="<%= comment.comment %>">
        <button id="submitButton">수정</button>
    </form>
    <a href="/comments">뒤로</a>

    <script>
        const submitButton = document.querySelector('#submitButton');
        const comment = document.querySelector('#comment');

        submitButton.addEventListener('click', e => {
            e.preventDefault();

            axios.patch(`/comments/<%= comment.id %>`, {
                comment: comment.value
            })
                .then(res => {
                    if (res.data.success) {
                        alert('수정되었습니다.');
                        window.location.href = '/comments';
                    } else {
                        alert(res.data.msg);
                    }
                })
                .catch(err => {
                    alert(err.response.data.msg);
                });
        });
    </script>
</body>

</html>