<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= farm.name %></title>
</head>
<body>
    <h1><%= farm.name %></h1>
    <p>City: $<%= farm.city %></p>
    <p>Email : <%= farm.email %></p>
    <a href="/farms">All Products</a>
</body>
</html>